.gantt-chart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gantt-chart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.gantt-chart-table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #f3f3f3;
    padding: 20px 0;
    font-size: 1.1rem;
    text-align: center;
}

.gantt-chart-table > thead > tr > th:nth-child(3) {
    background-color: var(--secondary-color);
    color: var(--white);
}

.gantt-task-name-header {
    min-width: 100px;
    text-align: left;
    padding: 5px;
    background: #f3f3f3;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.gantt-chart-day {
    min-width: 50px;
    text-align: center;
    border-right: 1px solid #ddd;
    background: #f3f3f3;
    padding: 5px 0;
}

.gantt-task-name {
    background: #f3f3f3;
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.gantt-task-cell {
    min-width: 50px;
    height: 40px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.task-day {
    background-color: rgba(0, 128, 0, 0.1);
}

.gantt-task-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Skeleton styles */
.skeleton-cell {
    /*background: #e0e0e0;*/
}

.gantt-header {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--tertiary-color);
    color: var(--black);
}
